.rc-file-input {
  .v-btn {
    height: 100%;
  }

  .rc-btn-upload {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgb(var(--v-theme-grey-500));

    &::after {
      border-left: 1px solid rgb(var(--v-theme-grey-500));
    }
  }

  // EMPTY STATE
  &.rc-file-empty {
    .v-field--appended {
      padding-inline-end: 0;
    }
  }

  // DISABLED STATE
  &.v-input--disabled {

  }

  // READONLY STATE
  &.v-input--readonly {
    .rc-btn-upload {
      display: none;
    }

    .v-field__overlay {
      background: rgb(var(--v-theme-grey-100));
    }
  }
}
