@use '../../../../styles/settings';
@import '../../../../styles/shared/mixins/makeFocus';

@mixin make-color($color, $hover, $active, $textColor: 950, $haTextColor: null) {
  &.text-#{$color} {
    & .v-btn__content {
      letter-spacing: 0;
      color: rgb(var(--v-theme-#{$color}-#{$textColor}));
    }

    @if $haTextColor == null {
      $haTextColor: $textColor;
    }

    &:hover {
      background: rgb(var(--v-theme-#{$color}-#{$hover}));

      & .v-btn__content {
        color: rgb(var(--v-theme-#{$color}-#{$haTextColor}));
      }
    }

    &:active {
      background: rgb(var(--v-theme-#{$color}-#{$active}));

      & .v-btn__content {
        color: rgb(var(--v-theme-#{$color}-#{$haTextColor}));
      }
    }
  }
}

.rc-btn {

  .v-btn__content {
    text-transform: none;
  }

  &.v-btn--disabled {
    background: rgb(var(--v-theme-grey-50)) !important;
    color: rgb(var(--v-theme-grey-300)) !important;

    & .v-btn__content {
      color: rgb(var(--v-theme-grey-300)) !important;
    }
  }

  &.v-btn--variant-tonal {
    $hover: 200;
    $active: 400;
    @include make-color('primary', $hover, $active);
    @include make-color('secondary', $hover, $active);
    @include make-color('grey', $hover, $active);
    @include make-color('error', $hover, $active);
    @include make-color('warning', $hover, $active);
    @include make-focus(8px);
  }

  &.v-btn--variant-outlined {
    $hover: 50;
    $active: 100;
    $textColor: 600;
    $haTextColor: 700; // hover & active text color
    @include make-color('primary', $hover, $active, $textColor, $haTextColor);
    @include make-color('secondary', $hover, $active, $textColor, $haTextColor);
    @include make-color('grey', $hover, $active, $textColor, $haTextColor);
    @include make-color('error', $hover, $active, $textColor, $haTextColor);
    @include make-color('warning', $hover, $active, $textColor, $haTextColor);
    @include make-focus(10px);
  }
}
