@use './../../settings';

@mixin make-focus($gap) {
  &:focus {
    @include make-focus-before($gap)
  }
}

@mixin make-focus-before($gap, $radius: settings.$border-radius-root * 2) {
  &::before {
    content: "";
    position: absolute;
    background: transparent;
    width: calc(100% + $gap);
    height: calc(100% + $gap);
    border-radius: $radius;
    border: 2px solid black;
    left: calc($gap / -2);
    top: calc($gap / -2);
    z-index: 1;
    pointer-events: none;
    box-sizing: border-box;
  }
}

