@import '../../../../styles/shared/mixins/makeFocus';

.rc-radio {
  .v-icon {
    border-radius: 50%;
    .rc-icon-radio-off { fill: white; }
  }

  .v-label {
    color: rgb(var(--v-theme-grey-900));
    opacity: 1;
    height: auto;
    font-size: 0.9375rem; // 15px
    padding-left: 0.25rem;

  }

  & .v-selection-control__input::before {
    opacity: 0 !important;
  }

  // FOCUS STATE
  &.v-selection-control--focused:not(.rc-radio--readonly) {
    .v-icon {
      position: relative;
      @include make-focus-before(8px, 50%);
    }
  }

  // HOVER STATE
  &:hover:not(.rc-radio--readonly) {
    .v-icon {
      box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.2);

      .rc-icon-stroke {
        stroke: rgb(var(--v-theme-primary));
      }
    }
  }

  // DISABLED STATE
  &.v-selection-control--disabled {
    .v-icon {
      .rc-icon-radio-off { .rc-icon-stroke { stroke: rgb(var(--v-theme-grey-200)) } }
    }
  }

  &.v-selection-control--error {
    .v-icon {
      .rc-icon-radio-off .rc-icon-stroke { stroke: rgb(var(--v-theme-error)) }
    }

    &:hover:not(.rc-radio--readonly) {
      .v-icon {
        box-shadow: 0 0 0 3px rgba(var(--v-theme-error), 0.2);
        pointer-events: none;
      }
    }
  }

  &.rc-radio--readonly {
    .v-icon {
      .rc-icon-radio-off {
        fill: rgb(var(--v-theme-grey-200));
        .rc-icon-stroke {
          stroke: rgb(var(--v-theme-grey))
        }
      }
    }
  }
}
