@import './mixins/makeFocus';

.rc-field {

  .v-input--horizontal {
    width: 100%;

    .v-input__prepend {
      margin-inline-end: auto;
    }
  }

  input::placeholder {
    color: rgb(var(--v-theme-grey-500));
  }

  &.v-input {
    --v-input-control-height: 44px;
    --v-input-padding-top: 16px;
  }

  .v-field {
    --v-field-padding-start: 0.8125rem;
    --v-field-padding-end: 0.8125rem; // 13px
    --v-field-input-padding-top: 0.75rem; // 12px
    --v-field-input-padding-bottom: 0.75rem;

    .v-field__input {
      font-size: 0.9375rem;
    }

    .v-text-field__suffix, .v-text-field__prefix {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .v-input--density-default {
    --v-input-control-height: 2.75rem;
  }

  // ### DEFAULT STATE
  .v-field--variant-outlined
  {
    .v-field__outline {
      color: rgb(var(--v-theme-grey-500));
      --v-field-border-opacity: 1 !important;

      &__notch .v-label {
        background: rgb(var(--v-theme-background));
        padding: 0 8px;
        margin: 0;
      }
    }

    .v-field__underlay {
      background: white;
    }
  }

  // ### HOVER STATE
  .v-field--variant-outlined:hover .v-field__outline
  {
    color: rgb(var(--v-theme-primary));
  }

  // ### FOCUSED STATE
  .v-field--focused, .rc-focused {
    .v-field__outline {
      --v-field-border-width: 1px;
      color: rgb(var(--v-theme-grey-900));
      @include make-focus-before(8px);
    }
  }

  // ### ACTIVE STATE = FOCUSED & ACTIVE
  .v-field--variant-outlined.v-field--active.v-field--focused {
    .v-field__outline {
      --v-field-border-width: 2px;
      color: rgb(var(--v-theme-primary));
      box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.2);

      &::before {
        display: none;
      }
    }
  }

  // ### DISABLED STATE
  .v-input--disabled {
    .v-field--disabled {
      opacity: 1;
    }

    input {
      color: rgb(var(--v-theme-grey-500));
    }

    .v-field__overlay {
      background: rgb(var(--v-theme-grey-50));
    }

    .v-field__outline {
      color: rgb(var(--v-theme-grey-300));
      --v-field-border-opacity: 1;
    }
  }

  // ## READONLY STATE
  .v-input--readonly {
    .v-field--variant-outlined .v-field__outline
    {
      --v-field-border-width: 1px !important;
      color: rgb(var(--v-theme-grey-200)) !important;
      box-shadow: none !important;

      &::before {
        display: none !important;
      }
    }
  }

  .v-input__details {
    padding-inline: 0;
  }

  // ERROR STATE
  &.v-input--error {

    &:hover {
      .v-field__outline {
        color: rgb(var(--v-theme-error-500)) !important;
      }
    }

    .v-field--focused, .rc-focused {
      &.v-field--error .v-field__outline {
        box-shadow: 0 0 0 3px rgba(var(--v-theme-error-600), 0.2) !important;
      }

      &.v-field--error:not(.v-field--disabled) .v-field__outline {
        color: rgb(var(--v-theme-error-500)) !important;
      }
    }
  }
}


// MENU OF THE FIELD (droppable context)
// BASIC STYLING

.v-overlay-container .v-menu.v-overlay{

  &.rc-searchable-menu {
    .v-overlay__content .v-list {
      margin-top: 81px;
    }
  }

  .v-overlay__content {
    background: white;

    .v-list {
      margin: 6px 6px 6px 6px;
      padding: 0;
      box-shadow: none;

      &::-webkit-scrollbar {
        width: 6px;
        height: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: rgb(var(--v-theme-grey-200));
        border-radius: 4px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(var(--v-theme-grey-500));
        border-radius: 4px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(var(--v-theme-grey-600));
      }

      &.rc-scrollable {
        .rc-menu-list-item {
          margin-right: 6px;
        }
      }
    }
  }

  .rc-menu-list-item {
    padding: 0.75rem; // 12px;

    .v-list-item__overlay {
      border-radius: 3px;
      --v-activated-opacity: 0;
    }

    .v-list-item__content {
      .v-list-item-title {
        font-size: 0.9375rem;
      }

      .v-list-item-subtitle {
        font-weight: 500;
        font-size: 0.75rem;
      }
    }

    .v-list-item__prepend .v-input {
      --v-input-control-height: auto;
      margin-right: 6px;
    }
  }
}
