/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`


@use 'typography' as *;
@use 'variables' as var;

@forward 'vuetify/settings' with (
  $layers: true,

  $body-font-family: var.$body-font-family,
  $border-radius-root: 3px,
  $font-size-root: 1rem, // it affect typography

  $typography: $typography,

  $font-weights: (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'strong': 600,
    'bold': 700,
    'black': 900
  ),
);
