.rc-number-stepper {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;

  .v-input--horizontal .v-input__append {
    margin-inline-start: 0;
  }

  .text-error {
    padding-top: 6px;
  }

  .v-btn {
    max-width: 3.125rem;
    height: 100%;
    flex-grow: 1;
    padding: 0;

    .v-btn__underlay {
      border: 1px solid rgb(var(--v-theme-grey-500));
    }
    //

    &.minus {
      .v-btn__underlay {
        border: 1px solid rgb(var(--v-theme-grey-500));
        border-left: none;
        border-right: none;
        border-radius: 0;
      }
    }

    &.plus {
      .v-btn__underlay {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

    }
  }

  .rc-field {
    input {
      min-width: 100px;
    }

    .v-field__outline__end {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: rgb(var(--v-theme-grey-500));
    }
  }

  // HOVER STATE
  &:hover {
    .v-btn {
      .v-btn__underlay {
        border-top-color: rgb(var(--v-theme-primary));
        border-bottom-color: rgb(var(--v-theme-primary));
      }
      &.plus {
        .v-btn__underlay {
          border-right-color: rgb(var(--v-theme-primary));
        }
      }
    }
  }

  // ERROR STATE
  &.rc-error {
    .v-btn {
      .v-btn__underlay {
        border-top-color: rgb(var(--v-theme-error));
        border-bottom-color: rgb(var(--v-theme-error));
      }
      &.plus {
        .v-btn__underlay {
          border-right-color: rgb(var(--v-theme-error));
        }
      }
    }
  }

  // FOCUS STATE
  &.rc-focused {

    .v-input {
      border-radius: 3px;
      box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.2);
    }

    .v-btn {
      .v-btn__underlay {
        border-top-color: rgb(var(--v-theme-primary));
        border-bottom-color: rgb(var(--v-theme-primary));
        border-top-width: 2px;
        border-bottom-width: 2px;
        // box-shadow: 0 0 0 3px rgba(var(--v-theme-primary), 0.2);
      }

      &.plus {
        .v-btn__underlay {
          border-right-width: 2px;
          border-right-color: rgb(var(--v-theme-primary));
        }
      }

      &::after {
        border: none;
      }
    }

    .rc-field {
      .v-field__outline {
        box-shadow: none !important;
      }
      .v-field__outline__end {
        border-right-width: 1px;
      }
    }

    &.rc-error {
      .v-input {
        box-shadow: 0 0 0 3px rgba(var(--v-theme-error), 0.2);
      }

      .v-btn {
        .v-btn__underlay {
          border-top-color: rgb(var(--v-theme-error));
          border-bottom-color: rgb(var(--v-theme-error));
        }

        &.plus {
          .v-btn__underlay {
            border-right-color: rgb(var(--v-theme-error));
          }
        }
      }
    }
  }

  // READONLY STATE
  &.rc-readonly {
    .v-input {
      box-shadow: none !important;
    }

    .text-error {
      display: none;
    }

    .v-btn {
      display: none;
    }

    .rc-field {
      .v-field__overlay {
        background: rgb(var(--v-theme-grey-100));;
      }
      .v-field__outline__end {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: rgb(var(--v-theme-grey-500));
      }
      .v-field__outline__start {
        border-color: rgb(var(--v-theme-grey-500));
      }
    }

    &.rc-focused {
      .rc-field {
        .v-field__outline__end {
          border-right-width: 2px;
        }
      }
    }
  }

  // DISABLED STATE
  &.rc-disabled {
    .text-error {
      display: none;
    }

    .v-btn {
      .v-btn__underlay {
        border-top-color: rgb(var(--v-theme-grey-500));
        border-bottom-color: rgb(var(--v-theme-grey-500));
      }

      &.plus {
        .v-btn__underlay {
          border-right-color: rgb(var(--v-theme-grey-500));
        }
      }
    }
  }
}
