// @use '@registrucentras/rc-ses-vue-components/vuetify/settings.scss';

@use 'typography' as *;
@use 'variables' as var;

@forward 'vuetify/settings' with (
  $body-font-family: var.$body-font-family,
  $border-radius-root: var.$border-radius-root,
  $font-size-root: 1rem, // it affect typography
  $layers: true,
  $typography: $typography,

  $font-weights: (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'strong': 600,
    'bold': 700,
    'black': 900
  ),
);
