@use '../../../../styles/variables' as var;

:root {
  /*General*/
  --dp-font-family: var.$body-font-family;
  --dp-border-radius: 4px; /*Configurable border-radius*/
  --dp-cell-border-radius: 4px; /*Specific border radius for the calendar cell*/
  --dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/

  /*Sizing*/
  --dp-button-height: 35px; /*Size for buttons in overlays*/
  --dp-month-year-row-height: 35px; /*Height of the month-year select row*/
  --dp-month-year-row-button-size: 35px; /*Specific height for the next/previous buttons*/
  --dp-button-icon-height: 20px; /*Icon sizing in buttons*/
  --dp-cell-size: 35px; /*Width and height of calendar cell*/
  --dp-cell-padding: 5px; /*Padding in the cell*/
  --dp-common-padding: 0.8rem; /*Common padding used*/
  --dp-input-icon-padding: 0; /*Padding on the left side of the input if icon is present*/
  --dp-input-padding: 0; /*Padding in the input*/
  --dp-menu-min-width: 260px; /*Adjust the min width of the menu*/
  --dp-action-buttons-padding: 2px 5px; /*Adjust padding for the action buttons in action row*/
  --dp-row-margin:  5px 0; /*Adjust the spacing between rows in the calendar*/
  --dp-calendar-header-cell-padding:  0.5rem; /*Adjust padding in calendar header cells*/
  --dp-two-calendars-spacing:  10px; /*Space between multiple calendars*/
  --dp-overlay-col-padding:  3px; /*Padding in the overlay column*/
  --dp-time-inc-dec-button-size:  32px; /*Sizing for arrow buttons in the time picker*/
  --dp-menu-padding: 0.8rem; /*Menu padding*/

  /*Font sizes*/
  --dp-font-size: 0.875rem; /*Default font-size*/
  --dp-preview-font-size: 0.675rem; /*Font size of the date preview in the action row*/
  --dp-time-font-size: 0.8rem; /*Font size in the time picker*/

  /*Transitions*/
  --dp-animation-duration: 0.1s; /*Transition duration*/
  --dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1); /*Timing on menu appear animation*/
  --dp-transition-timing: ease-out; /*Timing on slide animations*/
}

.rc-datepicker-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

.rc-datepicker-menu {
  font-family: 'Public sans', sans-serif;
}

.dp__theme_light {
  --dp-background-color: #fff;
  --dp-text-color: #212121;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: rgb(var(--v-theme-primary-500));
  --dp-primary-disabled-color: #6bacea;
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-border-color-focus: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
  --dp-marker-color: #ff6f60;
  --dp-tooltip-color: #fafafa;
  --dp-disabled-color-text: #8e8e8e;
  --dp-highlight-color: rgb(25 118 210 / 10%);
  --dp-range-between-dates-background-color: rgb(var(--v-theme-primary-100));
  --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
  --dp-range-between-border-color: rgb(var(--v-theme-primary-100));
}

.rc-datepicker-menu {
  box-shadow: 0px 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 3px 4px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 8px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12));

  .dp__range_start, .dp__range_end {
    position: relative;
    z-index: 2;
    background: transparent;
  }

  .dp__range_start::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    width: calc(50% + 1px);
    height: calc(100% + 2px);
    background-color: rgb(var(--v-theme-primary-100));
    z-index: -2;
  }

  .dp__range_end::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(50% + 2px);
    height: calc(100% + 2px);
    background-color: rgb(var(--v-theme-primary-100));
    z-index: -1;
  }

  .dp__range_start::after, .dp__range_end::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background-color: rgb(var(--v-theme-primary));
    border-radius: 50%;
    z-index: -1;
  }


  .dp__range_end,
  .dp__range_start,
  .dp__active_date {
    border-radius: 50%;
    color: white !important;
  }

  .dp__today {
    border: 1px solid var(--dp-primary-color);
  }

  .dp__calendar_header_item {
    text-transform: capitalize;
  }

  .dp__action_row {
    padding: 0.8rem;
    background: rgb(var(--v-theme-grey-50));
  }

  .dp__calendar {

    .dp__calendar_row {
      .dp__calendar_item:nth-last-child(1), .dp__calendar_item:nth-last-child(2) {
        .dp__cell_inner {
          color: rgb(var(--v-theme-error-600));

          &.dp__cell_offset {
            color: rgba(var(--v-theme-error-600), .5);
          }
        }
      }
    }

    &:not([role="rowgroup"]) {
      margin-top: 10px;
      padding-top: 10px;
    }


    &_header_separator {
      position: absolute;
      top: 0;
      left: -10%;
      width: 120%;
    }
  }

  .dp__instance_calendar[role="document"] {
    overflow: hidden;

    .dp__menu_inner {
      .dp__instance_calendar {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}


// INPUT STYLE #############################

.rc-datepicker {
  width: 100%;

  .dp__clear_icon {
    height: 1.5rem;
    right: 16px;
    opacity: 0;
    transition: opacity 0.1s;
  }

  .v-text-field .v-field__input {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover {
    .dp__clear_icon {
      opacity: 1;
    }
  }
}




